.profile-container h4 {
    /* font-size: 20px; */
    text-align: center;
    margin-bottom: 19px;
}

/* Mobile View 768px */

@media (max-width: 768px) {
    .userProfile-container {
        width: 95% !important;
        padding: 15px !important;
    }

    .userprofile-input-group {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap !important;
    }

    .userprofile-input-group .form-control {
        flex-grow: 1;
        min-width: 0;
        border-right: none;
        border-radius: 5px 0 0 5px;
    }

    .userprofile-input-group .userprofile-icon {
        background: #f8f9fa;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: none;
        width: 40px;
        border-radius: 0 5px 5px 0;
    }

    .userprofile-input-group {
        flex-direction: row;
    }

    .userprofile-input-group .userprofile-input {
        flex-grow: 1;
        min-width: 0;
        font-size: 14px;
        padding: 8px 10px;
    }

    .userprofile-input-group .userprofile-icon {
        width: 45px;
        background: #e9ecef;
        /* padding: 8px; */
        height: 38.5px;

    }

    .userprofile-input-group .invalid-feedback {
        display: block !important;
        width: 100%;
        font-size: 14px;
        color: red;
        position: absolute;
        bottom: -15px;
        left: 0;
        text-align: left;
        padding-left: 12px;
    }
}