.ulli li {
    color: white;
    padding: 6px;
}
.btn{
    background-color: "#07a698";
    border-radius: "2%";
    
}




/* -----------------------------------
   Mobile Responsive Styles for Footer
------------------------------------- */
@media (max-width: 768px) {
    .container-fluid.bg-dark.text-light.p-4.pt-2 {
        padding: 20px 10px;
    }
    
    .container.py-5.pb-0.pt-2 {
        padding: 20px 0;
    }
    
    .row.mb-5 {
        /* flex-direction: column; */
        /* text-align: center; */
        padding: 20px 10px !important;
    }
    .col-md-5 .fw-bold{
        font-size: 30px;
    }

    .row.mb-5 > [class*="col-"] {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .input-group {
        /* flex-direction: column; */
        align-items: center;
    }
    
    .input-group .form-control {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 250px;
    }
    
    .input-group .btn {
        width: 100%;
        margin-left: 0 !important;
        border-radius: 250px;
    }
    
    .row > [class*="col-md-3"] {
        width: 100%;
        margin-bottom: 20px;
        /* text-align: center; */
    }
    
    .mb-4[style] {
        width: 100% !important;
    }
    
    p[style*="justifyContent: center"] {
        font-size: 0.9rem;
        text-align: center;
    }
    
    .ulli li {
        font-size: 14px;
        padding: 4px;
    }
}