.certificate-right-column {
  background-image: url('/public/assets/certificate/col2background.jpg'); /* Update with the correct path */
  background-size: cover; /* Ensures the image covers the full div */
  background-position: center; /* Centers the background */
  background-repeat: no-repeat; /* Prevents image from repeating */
  /* padding: 118px;  */
  padding-top: 299px; /* Add some padding to make the text look better */

}
.certificate-left-column{
  background-image: url('/public/assets/certificate/1.png');
  background-size: cover; /* Ensures the image covers the full div */
  background-repeat: no-repeat; /* Prevents image from repeating */
  /* padding: 450px; */
  padding: 482px;

  background-position: center; /* Centers the background */

}


