.certificate-right-column {
  background-image: url('/public/assets/certificate/col2background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 299px;
}

.certificate-left-column {
  background-image: url('/public/assets/certificate/1.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 482px;
  background-position: center;
}