* {
    font-family: 'Work Sans', sans-serif;
}

/*2/*
 body {
    font-family: 'Nunito', sans-serif;
  }
  
 /* h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
  } */
/*    3
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Lora:wght@400;500&display=swap');

body {
  font-family: 'Lora', serif;
}
h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
} */


/*5 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
} */
